{
  "logging": {
    "version": 1,
    "loggers": {
      "downloadbot": {
        "level": "DEBUG",
        "handlers": ["stream", "file"]
      }
    },
    "formatters": {
      "simple": {
        "format": "%(asctime)s.%(msecs)03d [%(levelname)s] %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      },
      "json": {
        "format": "{\"timestamp\": \"%(asctime)s.%(msecs)03d\", \"severity_level\": \"%(levelname)s\", \"message\": %(message)s}",
        "datefmt": "%Y-%m-%d %H:%M:%S"
      }
    },
    "handlers": {
      "stream": {
        "class": "logging.StreamHandler",
        "level": "INFO",
        "formatter": "json"
      },
      "file": {
        "class": "logging.handlers.TimedRotatingFileHandler",
        "level": "DEBUG",
        "filename": "/var/opt/downloadbot/log/application.log",
        "when": "midnight",
        "encoding": "utf-8",
        "formatter": "json"
      }
    }
  }
}
